body {
  background-color: black;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  color: #D4D4D4;
  user-select: none;
}

.hide {
  display: none;
}