.modal-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65)
}

.modal-container {
  background-color: white;
  width: 50%;
  height: 90%;
  box-shadow: 2px 2px #444444;
  border-radius: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 0.5%;
  height: 5%;
  width: 100%
}
.modal-header-button {
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  height: 30px;
  align-items: center;
}
.modal-header-button:hover {
  font-size: 16px;
}


.modal-body {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;  
  color: black;
  overflow-y: scroll;
}

.data-selector {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px; 
}

.data-label {
  justify-content: flex-start;
  display: flex;
  color: #5e6c84;
  font-weight: bolder;
  font-size: 13px;
}

.data-textarea {
  width: 100%;
  height: 90%;
  resize: none;
  border: 2px solid #5e6c84;
}

.modal-footer {
  border-radius: 0.5%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  height: 10%;
  align-items: center;
}
.modal-footer-button {
  font-size: 14px;
  height: 35px;
  width: 100px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.modal-footer-apply-button {
  background-color: #20202A;
  color: white; 
}
.modal-footer-apply-button:hover {
  background-color: #494959;
}

.modal-footer-cancel-button {
  background-color: white;
  color: #20202A;
  border: 0px;
}

.modal-footer-cancel-button:hover {
  text-decoration: underline;
}