.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 99%;
    margin: 0px 10px;
    border: 2px solid #4e5055;
}

.side-bar-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 99%;
    margin: 0px 10px;
}

.project-selector {
    width: 90%;
}

.project-selector-full {
    width: 25%;
    height: 5%;
}

.key-selector {
    width: 90%;
    margin-top: 5%;
}
.value-selector {
    width: 90%;
    margin-top: 5%;
}

.sidebar-label {
     margin-bottom: 15px;
     font-weight: 600;
}

.project-selector div {
    background-color: #282c34;
    color: #d4d4d4; 

}

.key-selector div {
    background-color: #282c34;
    color: #d4d4d4;
    outline: none !important;
}

.value-selector div {
    background-color: #282c34;
    color: #d4d4d4;
    outline: none !important; 
}

.project-selector-full div {
    background-color: #282c34;
    color: #d4d4d4;
    outline: none !important; 
}